.container {
    height: 100vh;
    width: 100vw;
    background-color: #101827;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.eventId {
    padding: 1rem;
    background-color: #1f2937;
    border: 1px solid #3c4552;
    border-radius: 1rem;
    font-family: "Outfit", sans-serif;
}

.eventId:focus {
    outline: none;
}

.button {
    padding: 0.5rem;
    background-color: #3c4552;
    border: none;
    border-radius: 0.25rem;
    margin-top: 0.5rem;
    cursor: pointer;
}