.container {
    min-height: 90vh;
    width: 100vw;
    background-color: #101827;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eventId {
    padding: 1rem;
    margin-top: 5rem;
    background-color: #1f2937;
    border: 1px solid #3c4552;
    border-radius: 1rem;
    font-family: "Outfit", sans-serif;
}


.eventId:focus {
    outline: none;
}

.title {
    font-family: "Outfit";
}

.button {
    padding: 0.5rem;
    background-color: white;
    color: black;
    border: none;
    border-radius: 0.25rem;
    margin-top: 0.5rem;
    cursor: pointer;
    transition: 0.5s;
    font-family: "Outfit", sans-serif;
    margin: 1rem;
}

.button:hover {
    background-color: #E879F9;
    color: white;
}
